.cart-preview-container {
  width: 30%;
  position: fixed;
  top: -100%;
  right: 0;
  animation: hide 1s ease-in-out;
  z-index: 1;
  background-color: whitesmoke;
  padding: 1rem;

  .cart-items {
    max-height: calc(100vh - 200px);
    overflow: scroll;
  }
}

.cart-preview-container-active {
  animation: show 1s ease-in-out;
  top: 50px;
}

@keyframes show {
  from {
    top: -100%;
  }
  to {
    top: 50px;
  }
}

@keyframes hide {
  from {
    top: 50px;
  }
  to {
    top: -100%;
  }
}

@media (max-width: 1000px) {
  .cart-preview-container {
    display: none;
  }
}
