@import '../../styles/colors.scss';

.navbar {
  height: 60px;
  background-color: $blue;
  position: sticky;
  padding: 0;
  width: 100%;
  top: 0;
  z-index: 50;

  .nav-link {
    color: $light-grey;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;

    &:hover {
      color: $white;
    }
  }

  .logo p {
    color: white;
    font-size: 0.6rem;
    margin-left: 0.2rem;
  }

  .nav-icon {
    height: 100%;
    background-color: $blue;
    border: none;
    padding: 1rem;
    display: block;

    .icon-img:hover {
      filter: brightness(0) invert(1);
    }
  }
}

@media (max-width: 360px) {
  .logo {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    background-color: $blue;
    position: absolute;
    z-index: 1;
    top: -100vh;
    margin-top: 60px;
    left: -100%;
    width: 100%;
    min-height: 100vh;
    transition: left 0.15s ease-in-out 0.15s, top 0.15s ease-in-out;

    &-open {
      color: $dark-blue;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}

@media (min-width: 768px) {
  .menu-btn.nav-icon,
  .nav-links-mobile,
  .nav-links-mobile-open {
    display: none;
  }
}

@media (min-width: 1140px) {
  .nav-links,
  .nav-icons,
  .logo {
    width: 33%;
  }
}
