.hero {
  background-image: url('../../assets/img/hero.jpg');
  background-color: rgb(110, 110, 110);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: calc(100vh - 60px);

  @media (max-width: 760px) {
    padding: 1rem;
  }

  @media (min-width: 761px) {
    padding: 3rem;
  }
}

.hero-greeting {
  text-align: center;
  align-self: center;

  .hero-greeting-header {
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 2rem;
  }

  .hero-greeting-text {
    letter-spacing: 1.5px;
    color: white;
    font-weight: 300;
  }
}

.hero-btns {
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
  align-self: center;

  @media (min-width: 620px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
