@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import './styles/colors.scss';

* {
  color: $dark-blue;
}

body {
  background-color: $light-grey;
  font-family: 'Ubuntu', 'Helvetica', sans-serif;
}

p {
  margin: 0;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.page-title {
  text-align: center;
  margin: 1rem 0;
}

section {
  width: 100%;
  text-align: center;
}

.btn-primary,
.btn-secondary {
  background-color: initial;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 4px;
  padding: 0.7rem 1.6rem;
  font-weight: 600;
}

.btn-primary {
  border: 2px solid $primary;
  color: $primary;

  &:hover {
    background-color: $primary;
    border: 2px solid $primary;
  }
}

.btn-secondary {
  border: 2px solid $dark-blue;
  color: $dark-blue;

  &:hover {
    background-color: $dark-blue;
    border: 2px solid $dark-blue;
  }
}
//SHARED STYLES FOR ROOMS AND TREATMENTS

.rooms-section,
.rooms-details-section,
.treatments-section,
.treatments-details-section {
  padding: 0.8rem;
  text-align: left;
  vertical-align: middle;
}

.room-item,
.treatment-item {
  margin-bottom: 4rem;
  &:hover {
    cursor: pointer;
  }
}

.cover-img {
  mix-blend-mode: multiply;
}

.room-name,
.treatment-name {
  margin: 1rem 0;
  letter-spacing: 1.5px;
  color: $blue;
  text-align: center;
}

.room-parameter,
.treatment-parameter {
  margin: 0.8rem 0;
}

@media (min-width: 769px) {
  .rooms-section,
  .rooms-details-section,
  .treatments-section,
  .treatments-details-section {
    padding: 1rem 3rem;
  }

  .room-parameter,
  .treatments-section {
    margin: 0.8rem 0;
  }
}
